.footer {
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background: #313715;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #313715 40%);

  .textContainer {
    display: flex;
    padding: 32px;
    p {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    p:first-of-type {
      margin-right: 40px;
      cursor: pointer;
    }
  }

  .link {
    text-transform: capitalize;
  }
  a {
    text-decoration: none;
  }
}
