.container {
  border: 1px solid red;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.h1 {
  font-size: 220px;
  color: #313715;
  letter-spacing: -1px;
  line-height: 190px;
  margin: 0;
}
