.container {
  // min-height: calc(100vh - 77px);
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  .content {
    padding: 32px;
    // border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    h1 {
      font-size: 220px;
      letter-spacing: -1px;
      line-height: 152px;
      margin: 0;
      position: relative;
      z-index: 2;
      font-weight: 400;
      height: 100%;
    }
    p {
      margin-bottom: 16px;
    }
    .picture {
      width: 450px;
      height: 630px;
      // background: url('../public/images/craig-about.jpg') no-repeat center
      //   center/cover;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 87px;
      left: 161px;
      max-width: 40%;
      transition: background-image 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .picture:hover {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      a {
        opacity: 1;
        transition: all 0.5s ease-in-out;
        // transition: all 0.2s ease-in-out;
      }
    }

    .info {
      width: 450px;
      max-width: 35%;
      min-width: 34%;
      span {
        text-decoration: underline;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      .builtBy {
        margin-top: 40px;
        margin-bottom: 16px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .content {
      flex-direction: column;
      h1 {
        font-size: 140px;
        letter-spacing: -0.5px;
        line-height: 118px;
      }

      .picture {
        position: static;
        max-width: 100%;
        margin: 0 auto;
        width: 260px;
        height: 365px;
        margin-top: 43px;
      }

      .info {
        max-width: 100%;
        margin: 0 auto;
        width: 90%;
        margin-top: 48px;
        margin-bottom: 26px;
      }
    }
  }
}
